{% set title = "Contact Us" %}
{% extends "base.html.j2" %}

{% block main %}{% markdown %}
  # Contact Us

  <p style="text-align: center;">We'd love to hear from you!

  If you have any questions, comments or just want to say hi feel free to get in
  touch with us at contact@pgconf.dev. You can also follow us on
  <a href="https://twitter.com/pgconfdev"><i class="fa-brands fa-x-twitter"></i></a>
  or
  <a href="https://mastodon.social/@pgconfdev" rel="me"><i class="fa-brands fa-mastodon"></i></a>
  for up date news about the event.

  During the event, the registration desk will be staffed at all times.
{% endmarkdown %}{% endblock %}
