{% set title = "Poster Session" %}
{% extends "base.html.j2" %}

{% block head %}
  <style>
    .poster-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      margin: 2rem 0;
    }

    figure {
      border-radius: var(--border-radius);
      border: var(--border-width) solid var(--mute-border-color);
      margin-bottom: 0;
      overflow: auto;
      padding: 1rem;
    }

    figure > iframe {
      height: 400px;
      width: 100%;
    }

    figure > figcaption {
      color: var(--mute-color);
      margin-block: 1rem 0;
    }
  </style>
{% endblock %}

{% block main %}
  <h1>Poster Session</h1>

  <p class="lead">
    Welcome to the PGConf.dev 2025 Poster Session! Here you can explore the various posters showcasing PostgreSQL-related work and projects. This is online version, offline version can be observed on the conference venue.
  </p>

  <div class="poster-grid">
    <figure>
      <iframe src="{{ "static/posters/Vacuum-statistics.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Vacuum Statistics</h4>
        <p>Monitoring and analyzing vacuum operations</p>
        <a role="button" href="{{ "static/posters/Vacuum-statistics.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/Extended-TOAST-pointer-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Extended TOAST Pointer</h4>
        <p>Improving large object handling</p>
        <a role="button" href="{{ "static/posters/Extended-TOAST-pointer-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/poster_incremental_view_maintenance.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Incremental View Maintenance</h4>
        <p>A Fast Method for Updating Materialized Views</p>
        <a role="button" href="{{ "static/posters/poster_incremental_view_maintenance.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/PgUS Diversity Committee Poster PgConfDev 2025.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>PgUS Diversity Committee</h4>
        <p>Promoting diversity and inclusion in the PostgreSQL community</p>
        <a role="button" href="{{ "static/posters/PgUS Diversity Committee Poster PgConfDev 2025.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/pdot-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>PDOT</h4>
        <p>PostgreSQL Development and Operations Tool</p>
        <a role="button" href="{{ "static/posters/pdot-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/PostgreSQL_diversity_posterA2.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>PostgreSQL Diversity</h4>
        <p>Exploring diversity and inclusion in the PostgreSQL community</p>
        <a role="button" href="{{ "static/posters/PostgreSQL_diversity_posterA2.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/pigsty-poster-pgcon.dev2025.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Pigsty</h4>
        <p>PostgreSQL deployment and management tool</p>
        <a role="button" href="{{ "static/posters/pigsty-poster-pgcon.dev2025.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/STIR-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>STIR</h4>
        <p>Much faster reindexing</p>
        <a role="button" href="{{ "static/posters/STIR-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/logging-query-plan-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Query Plan Logging</h4>
        <p>Advanced query plan logging and analysis</p>
        <a role="button" href="{{ "static/posters/logging-query-plan-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/XMLCanonicalize-Poster-Jim.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>XML Canonicalization</h4>
        <p>XML canonicalization in PostgreSQL</p>
        <a role="button" href="{{ "static/posters/XMLCanonicalize-Poster-Jim.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/pgconf2025.jianhe.poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Jian He's Posters</h4>
        <p>Two nice small patches for a review</p>
        <a role="button" href="{{ "static/posters/pgconf2025.jianhe.poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/pgconf-dev-2025-poster-kou.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Kou's Poster</h4>
        <p>Better COPY with different formats</p>
        <a role="button" href="{{ "static/posters/pgconf-dev-2025-poster-kou.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/nmisch-pgconfdev2025-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Noah Misch's Poster</h4>
        <p>A fix needing attention</p>
        <a role="button" href="{{ "static/posters/nmisch-pgconfdev2025-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/mooncake_pgconf.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>pg_mooncake v0.2 🥮</h4>
        <p>Extension for fast analytics on 'up-to-date' tables</p>
        <a role="button" href="{{ "static/posters/mooncake_pgconf.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/PGDV-Volunteer-Poster-PgConfDev-2025.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>PGDV Volunteer</h4>
        <p>I Want to Work on Postgres, But I Don't Know Where to Start!</p>
        <a role="button" href="{{ "static/posters/PGDV-Volunteer-Poster-PgConfDev-2025.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/WAL-Compression-poster.pdf" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>WAL Compression</h4>
        <p>Work-in-progress to make WAL leaner</p>
        <a role="button" href="{{ "static/posters/WAL-Compression-poster.pdf" | link }}" target="_blank">Download PDF</a>
      </figcaption>
    </figure>

    <figure>
      <iframe src="{{ "static/posters/PWI_Poster_PGConf.Dev_2025.jpg" | link }}" type="application/pdf"></iframe>
      <figcaption>
        <h4>Postgres Women India</h4>
        <p>A year of growth and achievements</p>
        <a role="button" href="{{ "static/posters/PWI_Poster_PGConf.Dev_2025.jpg" | link }}" target="_blank">Download Poster</a>
      </figcaption>
    </figure>
  </div>

  <p style="text-align: center; margin-top: 2rem;">
    <strong>Note:</strong> If you would like to remove your poster from this page or correct something, please contact <a href="mailto:x4mmm@yandex-team.ru">x4mmm@yandex-team.ru</a>.
  </p>
{% endblock %}
