{% set title = "Registration" %}
{% extends "base.html.j2" %}

{% block main %}{% markdown %}
  # Registration

  PGConf.dev is an annual event where users, developers, and community
  organizers come together to focus on PostgreSQL development and community
  growth. This event is a strategic gathering of the PostgreSQL community that
  takes place before development begins.

  | Ticket  |     Price | Description                       |
  | ------- | --------: | --------------------------------- |
  | Regular |  $500 CAD | Normal conference attendance      |
  | Student |   $75 CAD | Students with proof of enrollment |
  | Speaker | No charge | Free for confirmed speakers       |

  A 5% GST and 9.9975% QST tax applies on top of the above ticket prices.

  <p style="margin-block: 2rem; text-align: center;">
    <a href="https://www.pgevents.ca/events/pgconfdev2025/register/" role="button">Register</a>

  ---

  ## Cancellation

  If you need to cancel your registration after you have paid, please email
  contact@pgconf.dev for manual handling. The refund we can offer depends on
  when you cancel so please cancel as soon as you know you won't be able to make
  it to the event. The available refund levels are:

  | Cancel On or Before                                            | Refund |
  | -------------------------------------------------------------- | ------ |
  | <time datetime="2025-04-08">April  8<sup>th</sup>, 2025</time> |   100% |
  | <time datetile="2025-04-22">April 22<sup>nd</sup>, 2025</time> |    50% |
  | <time datetime="2025-04-29">April 29<sup>th</sup>, 2025</time> |    25% |

  Cancellations on or after <time datetime="2025-04-30">April 30<sup>th</sup>,
  2025</time>, as well as cancellations for which a visa invitation letter has
  already been provided, cannot be refunded.

  All cancellations incur a $30 CAD (plus tax) administration fee.

  ## Students

  We require proof of current enrollment such as a current student
  identification, or some similar proof of enrollment. If you are unsure if you
  qualify for a student ticket, email contact@pgconf.dev and we will give a
  definitive answer.

  We will contact you after you register and ask you to provide proof of your
  student status. The number of tickets reserved for students is limited, we
  recommend students register early. Students who register after the student
  tickets have been sold out will need to buy a full price regular
  registration.

  ## Your Data

  When registering for the conference, we will ask for personal information
  such as name and address, but also your dietary requirements. For
  information on how this data is stored and processed, see the [Slonik Events
  Canada Privacy Policy]

  [Slonik Events Canada Privacy Policy]: https://www.pgevents.ca/about/privacypolicy/
{% endmarkdown %}{% endblock %}
