{% set title = "Schedule" %}
{% extends "base.html.j2" %}

{% block head %}
  <link rel="stylesheet" href="{{ "static/schedule.css" | link }}">
{% endblock %}

{#
  Used to emit the inline style attribute that will locate an element at a slot
  in the schedule. For example:

    <li {{ slot("a-0800", "b-1200") }}>
      ...

  Will locate the <li> element so that its top left corner is in column A, at
  08:00, and its bottom right corner is in column B, at 12:00. This should only
  be used within the attribute list of an element inside of a class="schedule"
  element. If the second argument to this macro is omitted, then the element is
  located in the single slot specified by the first argument.
#}
{% macro slot(origin, stop=origin) -%}
  style="grid-area: {{ origin }} / {{ origin }} / {{ stop }} / {{ stop }};"
{%- endmacro %}

{#
  Called to emit a labeled period in the "time" column. For example, this call:

    time("08:00", "09:30")

  Will emit:

    <li class="time" {{ slot("time-0800", "time-0900") }}>
      <time>08:00</time>&ndash;<time>09:30</time>
    </li>

  The emitted label uses the first and second argument verbatim. The time slot
  that the labeled period is emitted against is determined as:

    1. The first argument is rounded down to the nearest half hour. This is the
       starting time slot.

    2. One minute is subtracted from the second argument. Then, it's rounded
       down to the nearest half hour. This is the ending time slot.

  This behavior is intended to handle the common situation wherein a time slot
  begins on, or shortly after, an even half hour and ends on, or shortly before,
  an even half hour.
#}
{% macro time(origin, stop) -%}
  {% set hour, minute = origin.split(":") | map("int") -%}
  {% set minute = 0 if minute < 30 else 30 -%}
  {% set origin_slot = "time-%02d%02d" | format(hour, minute) -%}

  {% set hour, minute = stop.split(":") | map("int") -%}
  {% set hour = hour if minute > 0 else hour - 1 -%}
  {% set minute = 0 if minute <= 30 else 30 -%}
  {% set stop_slot = "time-%02d%02d" | format(hour, minute) -%}

  <li class="time" {{ slot(origin_slot, stop_slot) }}>
    <time>{{ origin }}</time>&ndash;<time>{{ stop }}</time>
  </li>
{%- endmacro %}

{# Hide the sponsor sidebar on the schedule page #}
{% block side %}{% endblock %}

{% block main %}
  <h1>Schedule</h1>

  <h2><time datetime="2025-05-13">Tuesday, May 13th</time></h2>
  <ul class="schedule">
    <h4 {{ slot("a-head") }}>Room 1</h4>
    <h4 {{ slot("b-head", "d-head") }}>Rooms 3&ndash;7</h4>

    {{ time("08:00", "08:30") }}

    <li class="social" {{ slot("a-0800", "d-0800") }}>
      Light Refreshments

    {{ time("08:30", "12:30") }}

    <li class="workshop" {{ slot("a-0830", "a-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/314/" target="_blank">
        Developer Meeting (Invite Only)
      </a>

    <li class="workshop" {{ slot("b-0830", "b-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/241/" target="_blank">
        Extension Ecosystem Summit
      </a>

    {{ time("12:30", "13:30") }}

    <li class="social" {{ slot("a-1230", "d-1300") }}>
      Lunch

    {{ time("13:30", "14:00") }}

    <li {{ slot("a-1330", "c-1330") }}>
      Afternoon Session Intros

    <li {{ slot("d-1330", "d-1530") }}>
      Security Team Meeting (Invite Only)

    {{ time("14:00", "15:30") }}

    <li class="workshop" {{ slot("a-1400", "a-1500") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/265/" target="_blank">
        Advanced Patch Feedback Session
      </a>

    <li class="workshop" {{ slot("b-1400", "b-1500") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/404/" target="_blank">
        Community Summit: Microconference 1
      </a>

    <li class="workshop" {{ slot("c-1400", "c-1500") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/404/" target="_blank">
        Community Summit: Microconference 2
      </a>

    {{ time("15:30", "16:00") }}

    <li class="social" {{ slot("a-1530", "c-1530") }}>
      Coffee

    {{ time("16:00", "17:30") }}

    <li class="workshop" {{ slot("a-1600", "a-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/265/" target="_blank">
        Advanced Patch Feedback Session
      </a>

    <li class="workshop" {{ slot("b-1600", "b-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/404/" target="_blank">
        Community Summit: Microconference 3
      </a>

    <li class="workshop" {{ slot("c-1600", "c-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/404/" target="_blank">
        Community Summit: Microconference 4
      </a>

    <li class="workshop" {{ slot("d-1600", "d-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/404/" target="_blank">
        Community Summit: Microconference 5
      </a>

    {{ time("17:30", "18:30") }}

    <li {{ slot("a-1730", "d-1800") }}>
      Meet up with Dinner Groups/Running
  </ul>

  <h2><time datetime="2025-05-14">Wednesday, May 14th</time></h2>
  <ul class="schedule">
    <h4 {{ slot("a-head") }}>Plenary</h4>
    <h4 {{ slot("b-head") }}>Breakout 1</h4>
    <h4 {{ slot("c-head") }}>Breakout 2</h4>
    <h4 {{ slot("d-head") }}>Meeting Room</h4>

    {{ time("08:00", "09:00") }}

    <li class="social" {{ slot("a-0800", "c-0830") }}>
      Breakfast

    <li class="social" {{ slot("d-0800", "d-0830") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/313/" target="_blank">
        Student Breakfast
      </a>

    {{ time("09:00", "09:30") }}

    <li {{ slot("a-0900") }}>
      Opening

    {{ time("09:30", "10:00") }}

    <li {{ slot("a-0930") }}>
      Keynote

    {{ time("10:00", "11:00") }}

    <li class="talk" {{ slot("a-1000", "a-1030") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/436/" target="_blank">
        Investigating Multithreaded PostgreSQL<br>
        <small>(Thomas Munro)</small>
      </a>

    <li class="talk" {{ slot("b-1000", "b-1030") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/331/" target="_blank">
        Adventures in Extension Packaging<br>
        <small>(David E. Wheeler)</small>
      </a>

    <li class="talk" {{ slot("c-1000", "c-1030") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/256/" target="_blank">
        Exploring the benefits of learned indexes in PostgreSQL: Theory and Implementation<br>
        <small>(GARY W EVANS, Nishchay Kothari)</small>
      </a>

    {{ time("11:00", "11:30") }}

    <li class="social" {{ slot("a-1100", "d-1100") }}>
      Coffee

    {{ time("11:30", "12:30") }}

    <li class="talk" {{ slot("a-1130", "a-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/271/" target="_blank">
        What is new in C and POSIX?<br>
        <small>(Peter Eisentraut)</small>
      </a>

    <li class="talk" {{ slot("b-1130", "b-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/410/" target="_blank">
        The trouble with extensions<br>
        <small>(Marco Slot)</small>
      </a>

    <li class="talk" {{ slot("c-1130", "c-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/293/" target="_blank">
        Revisiting XTM: A Practical Case Study Highlighting Its Needs<br>
        <small>(Yuya Watari)</small>
      </a>

    {{ time("12:30", "13:00") }}

    <li class="talk" {{ slot("a-1230") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/301/" target="_blank">
        Compiling Postgres to WASM with PGlite<br>
        <small>(Sam Willis)</small>
      </a>

    <li class="talk" {{ slot("b-1230") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/388/" target="_blank">
        postgresql.org: The hidden parts<br>
        <small>(Magnus Hagander)</small>
      </a>

    <li class="talk" {{ slot("c-1230") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/281/" target="_blank">
        The Present and Future of VACUUM in PostgreSQL<br>
        <small>(Masahiko Sawada)</small>
      </a>

    {{ time("13:00", "14:00") }}

    <li class="social" {{ slot("a-1300", "c-1330") }}>
      Lunch

    <li {{ slot("d-1300", "d-1430") }}>
      PGCA

    {{ time("14:00", "15:00") }}

    <li class="talk" {{ slot("a-1400", "a-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/254/" target="_blank">
        Committer Review: An Exercise in Paranoia<br>
        <small>(Robert Haas)</small>
      </a>

    <li class="talk" {{ slot("b-1400", "b-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/229/" target="_blank">
        Multidimensional search strategies for composite B-Tree indexes<br>
        <small>(Peter V Geoghegan)</small>
      </a>

    <li class="talk" {{ slot("c-1400", "c-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/363/" target="_blank">
        ChatGPT Ain’t Got $%@& On Me! Next Generation Automated Database Tuning<br>
        <small>(William Zhang)</small>
      </a>

    {{ time("15:00", "16:00") }}

    <li class="talk" {{ slot("a-1500", "a-1530") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/433/" target="_blank">
        Scaling Postgres to the next level at OpenAI<br>
        <small>(Bohan Zhang)</small>
      </a>

    <li class="talk" {{ slot("b-1500", "b-1530") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/276/" target="_blank">
        Experimenting with a Global Index in PostgreSQL: Design, Implementation, and Challenges<br>
        <small>(Dilip Kumar)</small>
      </a>

    <li class="talk" {{ slot("c-1500", "c-1530") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/385/" target="_blank">
        Designing and implementing a monitoring feature in PostgreSQL<br>
        <small>(Rahila Syed)</small>
      </a>

    {{ time("16:00", "16:30") }}

    <li class="social" {{ slot("a-1600", "d-1600") }}>
      Coffee

    {{ time("16:30", "17:00") }}

    <li class="talk" {{ slot("a-1630") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/444/" target="_blank">
        Tracking plan shapes over time with Plan IDs, and a new pg_stat_plans<br>
        <small>(Lukas Fittl)</small>
      </a>

    <li class="talk" {{ slot("b-1630") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/384/" target="_blank">
        Debugging Data Corruption in PostgreSQL<br>
        <small>(Palak Chaturvedi)</small>
      </a>

    <li class="talk" {{ slot("c-1630") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/372/" target="_blank">
        PostgreSQL container groups, aka cgroups down the road.<br>
        <small>(Cédric Villemain)</small>
      </a>

    <li class="talk" {{ slot("d-1630", "d-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/345/" target="_blank">
        Crafting exploits for historical CVEs<br>
        <small>(Andrey Borodin)</small>
      </a>

    {{ time("17:00", "17:30") }}

    <li class="talk" {{ slot("a-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/440/" target="_blank">
        What 10 Postgres Major Contributors Did to Become a Hacker<br>
        <small>(Claire Giordano)</small>
      </a>

    <li class="talk" {{ slot("b-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/364/" target="_blank">
        Reproducible Postgres<br>
        <small>(Javier Maestro, Alvaro Hernandez)</small>
      </a>

    <li class="talk" {{ slot("c-1700") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/311/" target="_blank">
        Fast-path locking improvements in PG18<br>
        <small>(Tomas Vondra)</small>
      </a>

    {{ time("17:30", "18:00") }}

    {# Manually label this one #}
    <li class="time" {{ slot("time-1800", "time-1830") }}>
      <time>18:00</time>&ndash;<time>01:00</time>
    </li>

    <li class="social" {{ slot("a-1800", "d-1830") }}>
      🎉 <span style="text-decoration: underline;">PARTY</span> 🎉
  </ul>

  <h2><time datetime="2025-05-15">Thursday, May 15th</time></h2>
  <ul class="schedule">
    <h4 {{ slot("a-head") }}>Plenary</h4>
    <h4 {{ slot("b-head") }}>Breakout 1</h4>
    <h4 {{ slot("c-head") }}>Breakout 2</h4>
    <h4 {{ slot("d-head") }}>Meeting Room</h4>

    {{ time("08:30", "09:30") }}

    <li class="social" {{ slot("a-0830", "c-0900") }}>
      Breakfast

    <li {{ slot("d-0830", "d-0900") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/424/" target="_blank">
        Postgres Women Breakfast
      </a>

    {{ time("09:30", "10:30") }}

    <li class="talk" {{ slot("a-0930", "a-1000") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/286/" target="_blank">
        Changing shared_buffers on the fly<br>
        <small>(Dmitrii Dolgov, Ashutosh Bapat)</small>
      </a>

    <li class="talk" {{ slot("b-0930", "b-1000") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/228/" target="_blank">
        My Journey in PostgreSQL bug fixing<br>
        <small>(Bertrand Drouvot)</small>
      </a>

    <li class="talk" {{ slot("c-0930", "c-1000") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/240/" target="_blank">
        Application Development Challenges with Postgres<br>
        <small>(Dian Fay)</small>
      </a>

    {{ time("10:30", "11:00") }}

    <li class="social" {{ slot("a-1030", "d-1030") }}>
      Coffee

    {{ time("11:00", "11:30") }}

    <li class="talk" {{ slot("a-1100") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/353/" target="_blank">
        Problems with logical decoding — an end-user’s perspective<br>
        <small>(Polina Bungina)</small>
      </a>

    <li class="talk" {{ slot("b-1100") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/379/" target="_blank">
        What does moving to Pull Requests look like? The nginx story<br>
        <small>(Alastair Turner)</small>
      </a>

    <li class="talk" {{ slot("c-1100") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/376/" target="_blank">
        Rethinking PostgreSQL Performance in the Age of Monster Hardware<br>
        <small>(Lætitia AVROT)</small>
      </a>

    {{ time("11:30", "12:30") }}

    <li class="talk" {{ slot("a-1130", "a-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/430/" target="_blank">
        What went wrong with AIO<br>
        <small>(Andres Freund)</small>
      </a>

    <li class="talk" {{ slot("b-1130", "b-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/245/" target="_blank">
        Detection and resolution of conflicts in logical replication<br>
        <small>(Zhijie Hou, Ajin Cherian)</small>
      </a>

    <li class="talk" {{ slot("c-1130", "c-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/346/" target="_blank">
        Switching between query plans in real time (Switch Join)<br>
        <small>(Alena Rybakina)</small>
      </a>

    {{ time("12:30", "13:30") }}

    <li class="social" {{ slot("a-1230", "a-1300") }}>
      Lunch

    <li {{ slot("b-1230", "b-1300") }}>
      Slonik Events Canada AGM

    <li class="social" {{ slot("c-1230", "d-1300") }}>
      Lunch

    {{ time("13:30", "14:30") }}

    <li class="talk" {{ slot("a-1330", "a-1400") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/446/" target="_blank">
        Vector search is now boring, but PostgreSQL has ways to go<br>
        <small>(Jonathan Katz)</small>
      </a>

    <li class="talk" {{ slot("b-1330", "b-1400") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/359/" target="_blank">
        Improving scalability; Reducing overhead in shared memory<br>
        <small>(Matthias van de Meent)</small>
      </a>

    <li class="talk" {{ slot("c-1330", "c-1400") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/260/" target="_blank">
        Advanced testing with Injection Points<br>
        <small>(Michael Paquier)</small>
      </a>

    {{ time("14:30", "15:00") }}

    <li class="talk" {{ slot("a-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/318/" target="_blank">
        What can Postgres learn from DuckDB?<br>
        <small>(Jelte Fennema-Nio)</small>

    <li class="talk" {{ slot("b-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/287/" target="_blank">
        Foreign Key Joins<br>
        <small>(Vik Fearing)</small>
      </a>

    <li class="talk" {{ slot("c-1430") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/426/" target="_blank">
        Everything You Need to Know About Diversity in 25 Minutes<br>
        <small>(Stacey Haysler)</small>
      </a>

    {{ time("15:00", "15:30") }}

    <li class="social" {{ slot("a-1500", "d-1500") }}>
      Coffee

    {{ time("15:30", "16:30") }}

    <li class="talk" {{ slot("a-1530", "a-1600") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/419/" target="_blank">
        Writing fast C code for a modern CPU (and applying it to PostgreSQL)<br>
        <small>(David Rowley)</small>
      </a>

    <li class="talk" {{ slot("b-1530", "b-1600") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/414/" target="_blank">
        Re-engineering Postgres for Millions of Tenants<br>
        <small>(Gwen Shapira)</small>
      </a>

    <li class="talk" {{ slot("c-1530", "c-1600") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/343/" target="_blank">
        Fraught Feedback: Trying and Failing to Implement Adaptive Behavior in Postgres<br>
        <small>(Melanie Plageman)</small>
      </a>

    {{ time("16:30", "17:30") }}

    <li {{ slot("a-1630", "c-1700") }}>
      Lightning Talks
  </ul>

  <h2><time datetime="2025-05-16">Friday, May 16th</time></h2>
  <ul class="schedule">
    <h4 {{ slot("a-head") }}>Plenary</h4>
    <h4 {{ slot("b-head") }}>Breakout 1</h4>
    <h4 {{ slot("c-head") }}>Breakout 2</h4>
    <h4 {{ slot("d-head") }}>Meeting Room</h4>

    {{ time("08:00", "09:00") }}

    <li {{ slot("a-0800", "c-0830") }}>
      Breakfast

    {{ time("09:00", "10:00") }}

    <li {{ slot("a-0900", "c-0930") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("10:00", "10:30") }}

    <li class="social" {{ slot("a-1000", "c-1000") }}>
      Coffee

    {{ time("10:30", "11:30") }}

    <li {{ slot("a-1030", "c-1100") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("11:30", "12:30") }}

    <li {{ slot("a-1130", "c-1200") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("12:30", "13:30") }}

    <li class="social" {{ slot("a-1230", "c-1300") }}>
      Lunch

    {{ time("13:30", "14:30") }}

    <li {{ slot("a-1330", "c-1400") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("14:30", "15:30") }}

    <li {{ slot("a-1430", "c-1500") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("15:30", "16:00") }}

    <li class="social" {{ slot("a-1530", "c-1530") }}>
      Coffee

    {{ time("16:00", "17:00") }}

    <li {{ slot("a-1600", "c-1630") }}>
      <a href="https://www.pgevents.ca/events/pgconfdev2025/schedule/session/348" target="_blank">
        Unconference
      </a>

    {{ time("17:00", "17:30") }}

    <li {{ slot("a-1700") }}>
      Closing Remarks
  </ul>
{% endblock %}
