{% set title = "Social" %}
{% extends "base.html.j2" %}

{% block main %}
  {% markdown %}
    # Social Events!

    ## Tuesday Community Meet and Eat
    <article>
    <p>
    Join a group of Postgres community folks for dinner and casual chatting on technical or personal topics. Meet new people or reconnect with people you've known for years but haven't had dinner with before. 
    Dinner locations will be suggested. Dinner is self-pay. Signup links will be shared with registered conference attendees.
    </p>
    </article>
  
  ## Tuesday Community Run and Eat
    <article>
    <p>
    Join a group of Postgres community folks for a run through Montreal and dinner. We’ll meet at the venue at 17:30 sharp.
     You’ll be able to leave belongings (such as a change of clothes) at the venue until the end of the run, but please don’t 
     leave valuables, as the area will not be secured.</p>
    <p>
      Depending on pace and group size, we’ll divide into 1–3 groups to ensure everyone is comfortable. The approximate route for
      the fastest group is <a href="/static/pgconf25run.png">here</a>, and leaders of other groups will be briefed on shorter variations.
    </p>

    <p>The run will finish by 19:00, after which we’ll head out together for dinner at a selected restaurant (self-pay)</p>

    </p>
    </article>
  

    ## Wednesday Conference Social Event
    <article>
        <p>The main conference social event, sponsored by <a href=" 	https://techcommunity.microsoft.com/blog/adforpostgresql/what%E2%80%99s-new-with-postgres-at-microsoft-2024-edition/4140085">Microsoft</a> will be held on Wednesday May 14, 2025 starting at 6:00pm at</p>
        <p>Time Out Market Montréal, 705 rue Sainte-Catherine W, Montreal, Quebec, H3B 4G5</p>
        <figure>
        <iframe src="https://www.openstreetmap.org/?mlat=45.503505&mlon=-73.570841#map=19/45.503505/-73.570841" style="aspect-ratio: 16 / 10; width: 100%;"></iframe>
        <figcaption style="font-size: 0.8em;">
          <a href="https://www.openstreetmap.org/?mlat=45.503505&mlon=-73.570841#map=19/45.503505/-73.570841">View Larger Map</a>
        </figcaption>
      </figure>
      <p>TimeOut market is about a 15 minute walk along Robert-Bourassa from the conference venue. You must bring your conference badge
      to the social event to get a swipe card that will be used for food & drinks.  We will have a section reserved for us to socialize and 
      eat in.</p>
      <p>

    </article>


  ## Conference Discord chat
  <article>
  <p>Conference attendees can keep in touch on the <a href="https://discord.gg/GEfxA2ahQG">PGConf.Dev discord server</a> join today to start
  chatting with your fellow conference attendees.
  <p>
  </article>



      {% endmarkdown %}
{% endblock %}


