{% set title = "Call for Sponsors" %}
{% extends "base.html.j2" %}

{% block head %}
  <style>
    dd {
      margin-inline-start: 1.5rem;
    }

    .side-by-side {
      grid-template-columns: none;
    }

    @media (min-width: 768px) {
      .side-by-side {
        align-items: start;
        grid-template-columns: 1fr auto;
      }
    }
  </style>
{% endblock %}

{% block main %}
  <h1>Call for Sponsors</h1>

  <p class="lead">
    PGConf.dev is an annual event where users, developers, and community organizers come together to focus on PostgreSQL development and community growth.

This event is a strategic gathering of the PostgreSQL community that takes place before development begins.

You can download the sponsorship prospectus <a href="/static/PGConf.dev 2025 - Sponsorship Prospectus.pdf">here</a>

  <section class="side-by-side grid">
    <div>
      <p><strong>Wondering what you should sponsor?</strong> Here are some questions to get you started:

      <ul>
        <li>PGConf.dev is not your typical PostgreSQL event!</li>
        <li>Your sponsorship directly impacts ongoing development of PostgreSQL, allowing of the PostgreSQL community leaders to meet in a single location and plan future releases.
</li>
        <li>Your sponsorship helps the PostgreSQL community to grow future community leaders and help them take on new roles in the community!</li>        
      </ul>
    </div>

    <aside>
      <header>
        <h6>
          <span style="float: right;"><i class="fa-solid fa-calendar"></i></span>
          Important Dates
        </h6>
      </header>

      <dl>
        <dt><time datetime="2024-11-04">November 4, 2024</time>
        <dd>Sponsorship signup Opens

        <dt><time datetime="2025-03-7">March 7, 2025</time>
        <dd>Deadline physical signage/item benefits

        <dt><time datetime="2025-05-13">May 13th, 2025</time>
        <dd>Conference Begins
      </ul>
    </aside>
  </section>

  <hr>

  <h2 id="Gold">Gold $25,000 CAD</h2>

  <p>Gold is the highest sponsorship we offer. As a Gold sponsor, you are a partner with us in helping to drive the ongoing development of the PostgreSQL community. Gold sponsor benefits include.
  </p>

  
  <ul>
    <li>Five (5) complimentary registrations</li>
    <li>Logo featured in the recorded session videos</li>
    <li>Logo featured on conference t-shirt</li>
    <li>Logo prominently featured in conference banner in foyer and common areas</li>
    <li>Sponsor provided banners in the front of rooms for presentation talks</li>
    <li>Logo featured in “hallway track” seating/sofa/tables in common area</li>
    <li>Logo featured prominently on website</li>
    <li>Allowing for one (1) large and one (1) small promotional item</li>
    <li>Allowance for stickers on table by registration</li>
    <li>Recognition by the presenters in the opening and closing sessions of the conference</li>
    <li>Logo featured on to-be-determined PGConf.dev promotional take home item</li>
    <li>Business description (1 paragraph) on conference website</li>
    <li>Option to choose one individual sponsor benefit while supplies last:
    <ul><li>Lanyards</li>
    <li>Social event</li>
    <li>Meals & coffee breaks</li>
    <li>Keynote chair drop</li>
    <li>Lightning talk chair drop</li>
    </ul>
    </li>
  </ul>
  <hr>
  <h2 id="Silver">Silver $9,000 CAD</h2>

  <p>
  Silver is a high visibility sponsorship that helps support PGConf.dev activities in helping to develop and grow PostgreSQL. Silver benefits include:
  </p>

  
  <ul>
    <li>Two (2) complimentary registrations</li>    
    <li>Logo featured on conference t-shirt</li>
    <li>Logo featured in conference banner in foyer and common areas</li>    
    <li>Logo featured in “hallway track” standing tables in common area</li>
    <li>Logo featured on website</li>
    <li>Allowing for one (1) small promotional item</li>
    <li>Allowance for stickers on table by registration</li>
    <li>Recognition by the presenters in the opening and closing sessions of the conference</li>            
    </ul>
    </li>
  </ul>
  <hr>

<h2 id="Bronze">Bronze $2,500 CAD</h2>

  <p>
  Bronze sponsors lets you show your support for PGConf.dev. Bronze benefits include:
  </p>

  
  <ul>
    <li>One (1) complimentary registrations</li>        
    <li>Logo featured in conference banner in foyer and common areas</li>        
    <li>Logo featured on website</li>    
    <li>Allowance for stickers on table by registration</li>    
    </ul>
    </li>
  </ul>
  <hr>

  <h2>Sponsorship Committee</h2>
  <p>Please contact
    <a href="mailto:sponsors@pgconf.dev">sponsors@pgconf.dev</a>
    with any questions about sponsorship

    <p style="margin-block-start: 2rem; text-align: center;">
    <a href="https://www.pgevents.ca/events/sponsor/signup/pgconfdev2025/" role="button">Signup</a>
{%endblock%}
