{% set title = "Sponsors" %}

{% extends "base.html.j2" %}

{% block head %}
  <link rel="stylesheet" href="{{ "static/sponsors.css" | link }}">
{% endblock %}

{% block main %}
  <h1>Gold Sponsors</h1>
  <div class="flex">
    {% for sponsor in gold %}
    <figure class="sponsor">
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="static/logo/{{ sponsor.image }}" alt="{{ sponsor.name }}" >
        </a>
        <div>{{ sponsor.description }}</div>
    </figure>
    {% endfor %}
  </div>

  <h1>Silver Sponsors</h1>
  <div class="flex">
    {% for sponsor in silver %}
    <figure class="sponsor">
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="static/logo/{{ sponsor.image }}" alt="{{ sponsor.name }}" >
        </a>
      <div>{{ sponsor.description }}</div>
    </figure>
    {% endfor %}
  </div>

  <h1>Bronze Sponsors</h1>
  <div class="flex">
    {% for sponsor in bronze %}
    <figure class="sponsor-bronze">
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="static/logo/{{ sponsor.image }}" alt="{{ sponsor.name }}" >
        </a>
    </figure>
    {% endfor %}
  </div>
{% endblock %}
