{% set title = "Call for Sponsors" %}
{% extends "base.html.j2" %}

{% block head %}
  <style>
    dd {
      margin-inline-start: 1.5rem;
    }

    .side-by-side {
      grid-template-columns: none;
    }

    @media (min-width: 768px) {
      .side-by-side {
        align-items: start;
        grid-template-columns: 1fr auto;
      }
    }
  </style>
{% endblock %}

{% block main %}
  <h1>Call for Sponsors</h1>

  <p class="lead">
    PGConf.dev is an annual event where users, developers, and community
    organizers come together to focus on PostgreSQL development and community
    growth.

    This event is a strategic gathering of the PostgreSQL community that takes
    place before development begins.

    You can download the sponsorship prospectus <a href="/static/PGConf.dev 2025 - Sponsorship Prospectus.pdf">here</a>

  <section class="side-by-side grid">
    <div>
      <p><strong>Wondering what you should sponsor?</strong> Here are some questions to get you started:

      <ul>
        <li>PGConf.dev is not your typical PostgreSQL event!</li>
        <li>Your sponsorship directly impacts ongoing development of PostgreSQL, allowing of the PostgreSQL community leaders to meet in a single location and plan future releases.
</li>
        <li>Your sponsorship helps the PostgreSQL community to grow future community leaders and help them take on new roles in the community!</li>
      </ul>
    </div>

    <aside>
      <header>
        <h6>
          <span style="float: right;"><i class="fa-solid fa-calendar"></i></span>
          Important Dates
        </h6>
      </header>

      <dl>
        <dt><time datetime="2024-11-04">November 4, 2024</time>
        <dd>Sponsorship signup Opens

        <dt><time datetime="2025-03-7">March 7, 2025</time>
        <dd>Deadline physical signage/item benefits

        <dt><time datetime="2025-05-13">May 13th, 2025</time>
        <dd>Conference Begins
      </ul>
    </aside>
  </section>

  <hr>

  {% markdown %}
    ## Gold $25,000 CAD

    Gold is the highest sponsorship we offer. As a Gold sponsor, you are a
    partner with us in helping to drive the ongoing development of the
    PostgreSQL community. Gold sponsor benefits include.

    - Five (5) complimentary registrations
    - Logo featured in the recorded session videos
    - Logo featured on conference t-shirt
    - Logo prominently featured in conference banner in foyer and common areas
    - Sponsor provided banners in the front of rooms for presentation talks
    - Logo featured in “hallway track” seating/sofa/tables in common area
    - Logo featured prominently on website
    - Allowing for one (1) large and one (1) small promotional item
    - Allowance for stickers on table by registration
    - Recognition by the presenters in the opening and closing sessions of the
      conference
    - Logo featured on to-be-determined PGConf.dev promotional take home item
    - Business description (1 paragraph) on conference website
    - Option to choose one individual sponsor benefit while supplies last:
      - Lanyards
      - Social event
      - Meals & coffee breaks
      - Keynote chair drop
      - Lightning talk chair drop

    ---

    ## Silver $9,000 CAD

    Silver is a high visibility sponsorship that helps support PGConf.dev
    activities in helping to develop and grow PostgreSQL. Silver benefits
    include:

    - Two (2) complimentary registrations
    - Logo featured on conference t-shirt
    - Logo featured in conference banner in foyer and common areas
    - Logo featured in “hallway track” standing tables in common area
    - Logo featured on website
    - Allowing for one (1) small promotional item
    - Allowance for stickers on table by registration
    - Recognition by the presenters in the opening and closing sessions of the
      conference

    ---

    ## Bronze $2,500 CAD

    Bronze sponsors lets you show your support for PGConf.dev. Bronze benefits
    include:

    - One (1) complimentary registrations
    - Logo featured in conference banner in foyer and common areas
    - Logo featured on website
    - Allowance for stickers on table by registration

    ---

    ## Sponsorship Committee

    Please email sponsors@pgconf.dev with any questions about sponsorship.
  {% endmarkdown %}

  <p style="margin-block-start: 2rem; text-align: center;">
    <a href="https://www.pgevents.ca/events/sponsor/signup/pgconfdev2025/" role="button">Signup</a>
{%endblock%}
