{% set title = "Venue" %}
{% extends "base.html.j2" %}

{% block head %}

{% endblock %}

{% block main %}
  <h1>Venue</h1>

  <p class="lead">
  The PostgreSQL Development Conference 2025 will be held at Plaza Centre-Ville, Montreal Quebec, Canada
  </p>
  <p>
   Address: 777, boul. Robert-Bourassa, Montréal, QC, H3A 0B1, Canada
  </p>
  <iframe width="425" height="350" src="https://www.openstreetmap.org/#map=18/45.499741/-73.562696">
    View Larger Map</a></small>
   </iframe>
   <br>
   <small>
   <a href="https://www.openstreetmap.org/#map=18/45.499741/-73.562696">View Larger Map</a>
   </small>
</p>

<p>
Plaza Centre-Ville is located in the basement of the "EVO" building at 777 boul. Robert-Bourassa.
</p>

<h2>Travel</h4>

<h4>Air</h4>
<p>
YULMontréal-Trudeau International Airport(YUL) is the nearest airport to the conference.
YUL has flights to many international destinations </p>
  

<h4>Train</h4>
<p>
Plaza Centre-Ville is 2 blocks from the  <a href="https://garecentrale.ca/en">Montreal Train Station</a>
that is serviced by both <a href="https://www.viarail.ca">VIA Rail</a> and <a href="https://www.amtrak.com/home.html">Amtrack</a>
</p>




<h2>Visa Information</h2>
<p>
  Travellers from many countries need either a vistor visa or an Electronic
  Travel Authorization (eTA). You can use
  <a href="https://ircc.canada.ca/english/visit/visas.asp">this tool</a> to
  determine which applies to you.
</p>

<h3>U.S. Citizens or permanent residents</h3>
<p>
  U.S. Citizen must have a valid passport to enter Canada.  U.S. lawful
  permanent residents must have the documents described
  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/entry-requirements-country.html#lawful-pr-us">here</a>
</p>

<h3>Electronic Travel Authorization(eTA)</h3>
<p>
  Visitors from <a
  href="https://ircc.canada.ca/english/visit/visas.asp">visa-exempt countries</a>
  need to apply for an eTa. The
  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/eta/apply.html">
  eTa site</a> contains instructions for applying for an eTa.  There is a fee
  for this but most applications are approved quickly.
</p>

<h3>Visitor visa</h3>
<p>
  Procedures for obtaining a visitor visa are available from
  <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/visit-canada/about-visitor-visa.html">
  What is a visitor visa</a>.  This process can be lengthy and we advise that you
  start it as soon as you have decided that you will be attending the
  conference.
</p>

<h2>Questions</h2>
<p>
  If you have any questions regarding your travel arrangements feel free to
  <a href="/contact">contact us</a>, we are more than happy to assist you.
</p>

{% endblock %}