{% set title = "Volunteer Instructions" %}
{% extends "base.html.j2" %}

{% block head %}
  <style>
    kbd {
      -webkit-hyphens: none;
      hyphens: none;
    }
  </style>
{% endblock %}


{% block main %}{% markdown %}
  # Volunteer Instructions

  Thank you so much for volunteering for PGConf.dev 2025! This conference
  wouldn't be possible without your work.

  If you haven't done so already, please ensure that you're able to access the
  <kbd>#onsite-volunteering</kbd> channel in the [conference Discord server].

  Specific instructions for each role are provided on this page.

  - [Signage Volunteer](#signage-volunteer)
  - [Errands](#errands)
  - [Lunch Bouncer](#lunch-bouncer)
  - [Chair Drop](#chair-drop)
  - [Cleanup](#cleanup)
  - [Community Booth Setup](#community-booth-setup)
  - [Community Booth Teardown](#community-booth-teardown)
  - [Room Host](#room-host)

  If you'd like to post pictures to our social media during the event, go to
  [your registration] and look for "Twitter Posting". (It will actually post to
  BluekSky, Mastodon, and LinkedIn as well as Twitter).

  Under Twitter Posting, go to "Post tweet" and then write a suitable message
  and attach an image. Then click "Post tweet." At that point your proposed
  social media posting will be added to a queue for approval.

  <a id="signage-volunteer"></a>
  ### Signage Volunteer

  On Tuesday and Wednesday, meet at the registration desk at 08:00 to help a
  member of conference staff set out signage.

  <a id="errands"></a>
  ### Errands

  Please ensure that you're able to access the <kbd>#errands</kbd> channel in
  the [conference Discord server] on your phone, and that Discord is configured
  to notify you when you're @mentioned in that channel.

  At the beginning and end of your shift, send a message to the channel saying
  that you're available/unavailable.

  During your shift, please respond if you're pinged.

  <a id="lunch-bouncer"></a>
  ### Lunch Bouncer

  On Tuesday, we only have enough catering for people attending sessions or
  volunteering.

  Please take your lunch early. Then, during lunch, remain near the lunch area
  and if you notice someone attempting to take lunch who:

  - Has Tuesday crossed out on their badge, and
  - Doesn't have a Tuesday sticker on their badge

  Then politely inform them that they are not entitled to lunch on that day.

  <a id="chair-drop"></a>
  ### Chair Drop

  On Wednesday, meet at the front of Regence B2C at 08:00 to help conference
  staff place one sponsor provided item on each seat.

  <a id="cleanup"></a>
  ### Cleanup

  On Friday, meet with conference staff at the registration desk at 16:00 to
  help clean up the conference.

  <a id="community-booth-setup"></a>
  ### Community Booth Setup

  Arrive at the community booth at 08:00. The booth itself should already be set
  up physically.

  Make sure the monitor is plugged in, supplies (e.g. post-it notes, whiteboard
  markers, etc.) are set out, and power strips are plugged in and available.

  Then, copy the [community booth schedule] for the day onto the flip chart.

  <a id="community-booth-teardown"></a>
  ### Community Booth Teardown

  On Wednesday, unplug the monitor and take it to Vitre (located to the right of
  Cartier B).

  On Thursday, unplug everything and take the monitor, power strips, and
  everything else on the table to Vitre (located to the right of Cartier B).

  ---

  <a id="room-host"></a>
  ### Room Host

  Please arrive at the room at the beginning of your shift, which should
  correspond to 10 minutes before the first scheduled talk in that room.

  Find and introduce yourself to the other room host for the scheduled slot.

  Find and introduce yourself to the AV technician in the room. They should be
  located near the back of the room and should be easily identifiable.

  There are two separate jobs to do. Decide with the other room host which
  person will handle which job.

  #### Job A

  Take the time cards, which should be located near the A/V technician.

  Introduce yourself to the upcoming speaker. Help them get set up with the A/V
  equipment and anything else they need.

  Ask the speaker how they want to be introduced, and whether they want to allow
  questions during the talk or only at the end.

  Let them know that you will hold up cards to indicate when they have 5
  minutes, 2 minutes, and no time left.

  Indicate to them where you'll be sitting. Put your time cards on that seat to
  reserve it.

  Introduce the speaker on time so that the session starts on schedule. If the
  speaker doesn't want to answer questions during the talk, inform the audience
  to hold their questions until the end of the talk.

  Don’t allow the audience to interrupt or heckle the speaker. If necessary,
  remind them of the Code of Conduct.

  Keep an eye on the clock and quietly indicate to the speaker when they have 5
  minutes, 2 minutes, and no time left.

  If there is time for questions and the speaker wants to answer questions,
  bring the microphone to people so that they can be heard while asking
  questions.

  When time is up, if the audience is still asking questions, politely inform
  them that the room must be cleared.

  Don't forget to leave the time cards near the A/V technician before you leave
  the room!

  #### Job B

  Take the survey QR code flyer and some tape, which should be located near the
  A/V technician.

  Tape the flyer to the door, so that attendees can scan it as they exit at the
  end of the talk. Cover any existing survey QR code flyers.

  Remain near the door to the room. If anyone needs help finding a seat, help
  direct them.

  If a talk is popular, politely ask the audience to move toward the center of
  the room. Look for open seats and ask people who've already sat down to shift
  over. You may need to repeat this process as people enter the room.

  Once the talk starts, quietly point late attendees toward open seats. If there
  aren't any open seats, inform them that they will have to stand in the back of
  the room. If the speaker doesn't want to answer the questions during the talk,
  quietly inform late attendees that they should hold their questions until the
  end of the talk.

  Once it looks like no one else will be joining the talk, close the door.

  When time is up, open the door. If necessary, i.e. if people are talking
  instead of exiting the room, politely inform the audience to quickly exit the
  room in preparation for the next talk.

  Don't forget to leave the tape near the A/V technician before you leave the
  room!

  [conference Discord server]: https://discord.gg/GEfxA2ahQG
  [your registration]: https://www.pgevents.ca/events/pgconfdev2025/register/
  [community booth schedule]: https://wiki.postgresql.org/wiki/PGConf.dev_2025_Community_Booth
{% endmarkdown %}{% endblock %}
