.person {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--mute-border-color);
  max-width: 200px;
  overflow: hidden;
}

.person > figcaption {
  font-family: var(--header-font);
  letter-spacing: 0.03125em;
  padding-inline: 1rem;
  text-align: left;
  text-transform: uppercase;
}
