/* Span the schedule across the entire width of the page */
body > main {
  grid-area: main / main / side / side;
  max-width: 1200px;
}

main > ul {
  padding-left: 0;
}

main > ul > li {
  list-style: none;
}

.schedule > li {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--mute-border-color);
  margin-bottom: 1rem;
  overflow: auto;
  padding: 0.5rem;
}

.schedule > h4 {
  display: none;
}

.schedule > .time {
  border-color: #ffffff;
  padding-inline: 0;
  text-align: center;
}

.talk {
  background-color: #2aa198;
  color: #ffffff;
}

.workshop {
  background-color: #e69f00;
}

.social {
  background-color: #ffffee;
}

.schedule a {
  color: inherit;
  text-decoration-color: currentColor;
}

.schedule a:not(:is(:hover, :active, :focus)) {
  text-decoration: none;
}

.room, [data-room]::before {
  align-items: center;
  border-radius: var(--border-radius);
  border: calc(2 * var(--border-width)) solid currentColor;
  display: inline-flex;
  font-weight: bold;
  height: 1.5rem;
  justify-content: center;
  user-select: none;
  width: 1.5rem;
}

[data-room]::before {
  content: attr(data-room);
  float: right;
  margin-left: 1rem;
}

@media (min-width: 800px) {
  .legend, .synthetic, [data-room]::before {
    display: none;
  }

  .schedule {
    column-gap: 1rem;
    display: grid;
    grid-template:
      "time-head a-head b-head c-head d-head"
      "time-0800 a-0800 b-0800 c-0800 d-0800"
      "time-0830 a-0830 b-0830 c-0830 d-0830"
      "time-0900 a-0900 b-0900 c-0900 d-0900"
      "time-0930 a-0930 b-0930 c-0930 d-0930"
      "time-1000 a-1000 b-1000 c-1000 d-1000"
      "time-1030 a-1030 b-1030 c-1030 d-1030"
      "time-1100 a-1100 b-1100 c-1100 d-1100"
      "time-1130 a-1130 b-1130 c-1130 d-1130"
      "time-1200 a-1200 b-1200 c-1200 d-1200"
      "time-1230 a-1230 b-1230 c-1230 d-1230"
      "time-1300 a-1300 b-1300 c-1300 d-1300"
      "time-1330 a-1330 b-1330 c-1330 d-1330"
      "time-1400 a-1400 b-1400 c-1400 d-1400"
      "time-1430 a-1430 b-1430 c-1430 d-1430"
      "time-1500 a-1500 b-1500 c-1500 d-1500"
      "time-1530 a-1530 b-1530 c-1530 d-1530"
      "time-1600 a-1600 b-1600 c-1600 d-1600"
      "time-1630 a-1630 b-1630 c-1630 d-1630"
      "time-1700 a-1700 b-1700 c-1700 d-1700"
      "time-1730 a-1730 b-1730 c-1730 d-1730"
      "time-1800 a-1800 b-1800 c-1800 d-1800"
      "time-1830 a-1830 b-1830 c-1830 d-1830"
      / auto 1fr 1fr 1fr 1fr;
  }

  .schedule > h4 {
    display: initial;
    text-align: center;
  }
}
