/* Make the schedule span the entire width of the page */
body > main {
  grid-area: main / main / side / side;
  max-width: 1200px;
}

.schedule {
  column-gap: 1rem;
  display: grid;
  grid-template:
    "time-header a-header b-header c-header d-header" auto
    {% for h in range(8, 19) -%}
    {% for m in [0, 30] -%}
      {% set time = "%02d%02d" | format(h, m) %}
      "time-{{ time }} a-{{ time }} b-{{ time }} c-{{ time }} d-{{ time }}"
    {%- endfor %}{%- endfor %}
    / auto 1fr 1fr 1fr 1fr;
  padding-left: 0;
}

.schedule > .time {
  margin-top: calc(var(--border-width) + 0.5rem);
}

.schedule > h4 {
  margin-top: 0;
  text-align: center;
}

.schedule > li {
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--mute-border-color);
  list-style: none;
  margin-bottom: 1rem;
  overflow: auto;
  padding: 0.5rem;
}

.talk {
  background-color: #2aa198;
  color: #ffffff;
}

.workshop {
  background-color: #e69f00;
}

.social {
  background-color: #ffffee;
}

.schedule a {
  color: inherit;
  text-decoration-color: currentColor;
}

.schedule a:not(:is(:hover, :active, :focus)) {
  text-decoration: none;
}
